/* General variables */
:root{
    --poppins:'Poppins', sans-serif;
    --open_sans: 'Open Sans', sans-serif;
    --pink:hsl(322, 100%, 66%);
    --very_pale_cyan: hsl(193, 100%, 96%);
    --very_dark_cyan: hsl(192, 100%, 9%);
    --grayish_blue: hsl(208, 11%, 55%);
    --font-size: 18px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* general html tags */
body{
    font-family: var(--open_sans);
    font-size: 1.8rem;
}

html{
    font-size: 63%;
}
h1, h2{
    font-family: var(--poppins);
    font-weight: 600;
    color: var(--very_dark_cyan);
}

a {
    text-decoration: none;
    font-weight: 700;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}

footer{
    background-color: var(--very_dark_cyan);
    padding: 16rem 0 4rem 0;
}
footer p{
    color: white;
    font-size: 1.5rem;
}

/* Classes and section styles */
.hero_section{
    background-image: url(images/bg-hero-desktop.svg);
    background-color: var(--very_pale_cyan);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    max-width: 80%;
    margin: 0 auto;
}

header .logo{
    width: 23rem;
    
}

.try_button{
    background-color: white;
    color: var(--very_dark_cyan);
    padding: 2rem 5rem;
    border-radius: 3rem;
    transition: all 0.3s;
    box-shadow: rgba(73, 73, 82, 0.2) 0px 8px 28px 0px;
}

.try_button:hover,
.try_button:active {
    color: rgba(7, 94, 115, 0.6);
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    margin-top: 5rem;
    padding-top: 3rem;
    padding-bottom: 7rem;
}

.text_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
}
.content_image{
    width: 100%;
}
.title_content{
    line-height: 1.5;
    font-size: 4rem;
}
.paragraph_content{
    color: var(--very_dark_cyan);
}
.get_start_button{
    color: azure;
    border-radius: 3rem;
    padding: 2rem 1.5rem;
    background-color: var(--pink);
    text-align: center;
    width: 50%;
    transition: all 0.3s;
    box-shadow: rgba(73, 73, 82, 0.2) 0px 8px 28px 0px;
    font-size: 1.6rem;
}

.get_start_button:hover,
.get_start_button:active {
    color: rgba(7, 94, 115, 0.6);
    background-color: rgba(244, 132, 203, 0.8);
}
 

.main_section{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
    position: relative;
    padding: 12rem 0 15rem 0;
}

.block_element{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4rem;
    padding: 6rem 4rem 6rem 11rem;
    box-shadow: rgba(60, 56, 56, 0.2) 0px 4px 10px 0px;
}

.text_block{
    width: 60%;
}

.title_block{
    margin-bottom: 2rem;
}

.description{
    line-height: 2rem;
    color: var(--grayish_blue);
    width: 80%;
    font-style: normal;
}

.image_block{
    width: 50%;
}

.floating_block{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 60%;
    z-index: 100%;
    border-radius: 2rem;
    box-shadow: rgba(47, 46, 46, 0.2) 0px 4px 12px 0px;
    transform: translateY(60%);
    padding: 5rem 7rem 5rem 7rem;
}

.floating_block_title{
    margin-bottom: 4rem;
}

.footer_logo {
    margin-bottom: 2rem;
}

.footer_info


